@charset "utf-8";
/* 2015/6/11 Diaosi */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td,iframe{margin:0;padding:0}
html{font:62.5%/1.5 tahoma, arial, \5b8b\4f53, sans-serif}
img{border:none; max-width:100%; vertical-align:top}
h1,h2,h3,h4,h5,h6{font-weight:normal}
input,select,textarea{font-size:100%;vertical-align:baseline;*vertical-align:middle}
ol,ul{list-style:none}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{text-decoration:none;outline:none; color:#069}
a:hover{ text-decoration:underline}

.sidebar{ background:#f6f6f6; position:absolute; width:180px; height:100%; left:0; top:0}
.sidebar .logo{ color:#888; padding:20px 0 50px 10px}
.sidebar .logo h1{ font:2em "Microsoft YaHei"}
.sidebar .logo span{ font:1.4em Arial}
.sidebar .menu{ position:relative; background:#f6f6f6; z-index:2}
.sidebar .menu li{ border-bottom:1px solid #e3e3e3; height:44px; line-height:44px; font-size:1.3em}
.sidebar .menu li a{ display:block; color:#a0a0a0}
.sidebar .menu li a:hover{ background:#e9e9e9; text-decoration:none}
.sidebar .menu li i{ _float:left; margin:0 15px 0 15px; _margin-top:10px; _display:inline; vertical-align:-4px; *vertical-align:-1px}
.icon_menu{ background:url(../images/wb_icon.png) no-repeat; width:18px; height:18px; display:inline-block}
.icon_menu_permission{ background-position:-6px -36px}
.icon_menu_operationlog{ background-position:-6px -67px}
.icon_menu_article{ background-position:-6px -96px}
.icon_menu_comment{ background-position:-6px -126px}
.sidebar .menu li.on i{ margin:0 15px 0 12px; _margin-top:10px}
.sidebar .menu li.on a{ border-left:3px solid #fbbc0f; color:#222; background:#e9e9e9}
.sidebar .user{ position:absolute; bottom:0; width:180px; height:70px; background:#f6f6f6; border-top:1px solid #e3e3e3}
.sidebar .userimg{ width:32px; height:32px; border-radius:32px; position:absolute; left:10px; top:20px}
.sidebar .username{ position:absolute; left:52px; top:17px; font-size:1.4em; color:#888; width:120px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden}
.sidebar .quit{ font-size:1.2em; position:absolute; left:52px; top:35px; color:#c0c0c0; white-space:nowrap}
.icon_toggler_menu{ position:absolute; background:url(../images/wb_icon.png) -4px -4px no-repeat; width:22px; height:22px; top:10px; right:15px; cursor:pointer; display:none}
.main{ margin:40px 10px 0 200px}
.maintitle{ color:#454545; padding:0 0 10px 5px}
.maintitle h2{ font-size:1.4em; display:inline}
.maintitle i{ vertical-align:-3px; margin-right:15px}
@media screen and (max-width:640px){
	.sidebar{ position:relative; width:100%}
	.sidebar .logo{ padding:0 0 0 10px}
	.sidebar .menu{ display:none}
	.sidebar .user{ right:0; top:0; bottom:auto; height:auto; border:none}
	.sidebar .userimg{ position:static; float:left; margin-top:4px}
	.sidebar .username{ position:absolute; left:35px; top:0}
	.sidebar .quit{ position:absolute; left:35px; top:20px}
	.icon_toggler_menu{ display:block}
	.main{ margin:10px 10px 0 10px}
}
@media screen and (min-width:641px){
	.sidebar .menu{ display:block !important}
}
/*按钮*/
.btn_gray{ background:#fff; border:1px solid #c7c7c7; border-radius:4px; padding:5px 12px; line-height:1; color:#888; font-size:13px; display:inline-block; margin-right:5px}
.btn_gray_selected{ background:#f5f5f5; color:#c7c7c7}
.btn_gray:hover{ background:#f5f5f5; text-decoration:none}
/*表格上下方多项操作条*/
.tool{ padding:10px 0}
.toolbottom{ border-bottom:1px solid #e3e3e3}
/*翻页*/
.page{ text-align:center; padding:10px 0}
/*筛选*/
.filtergroup{ float:left; font-size:13px; _font-size:12px; margin:5px 0; display:inline; color:#232323}
.filterkey{ display:inline-block; text-align:right; *float:left}
.filtervalue{ display:inline-block; *float:left}
/*表单*/
.ipt{ width:100px; height:20px; line-height:20px; font-size:13px; border-radius:2px; border:1px solid #c7c7c7}
/*表格*/
.table{ width:100%; font-size:13px}
.table_thead{ background:#f9f9f9; border:solid #e3e3e3; border-width:1px 0}
.table_thead th{ *border:solid #e3e3e3; *border-width:1px 0; font-weight:normal; color:#888; font-size:13px; padding:4px 0 5px; white-space:nowrap}
.table .tr{ border-bottom:1px solid #e3e3e3}
.table .td{ *border-bottom:1px solid #e3e3e3; padding:5px 0}
.table_layout_1 .table_thead th{ text-align:left; padding-left:10px; vertical-align:top}
.table_layout_1 .td{ padding-left:10px; vertical-align:top}
@media screen and (max-width:640px){
	.table_layout_1 .table_thead{ display:none}
	.table_layout_1 tbody .tr:first-child .td:first-child{ border-top:1px solid #e3e3e3}
	.table_layout_1 tbody .td{ display:block; padding:0}
	.table_layout_1 tbody .td:first-child{ background:#f9f9f9; border-bottom:1px solid #e3e3e3; padding:4px 0 5px}
	.table_layout_1 tbody .td:nth-child(2){ padding-top:5px}
	.table_layout_1 tbody .td:last-child{ padding-bottom:5px}
	.table_layout_1 tbody .td:before{ content:attr(data-th); color:#888; display:inline-block; width:30%}
	.table_layout_1 tbody .align_center{ text-align:inherit !important}
}
/*操作成功失败提示*/
.msgboxdiv{ position:fixed; _position:absolute; width:100%; top:0; text-align:center; color:#fff; font:1.4em "Microsoft YaHei"}
.msgboxdiv .msg,.msgboxdiv .errmsg,.msgboxdiv .loadermsg{ background:#68af02; padding:3px 24px; border-radius:0 0 3px 3px; display:inline-block; text-align:left}
.msgboxdiv .errmsg{ background:#ef8f00; position:relative; padding:3px 15px 3px 10px}
.msgboxdiv .errmsg_title{ padding-right:40px}
.msgboxdiv .errmsg .close{ position:absolute; top:6px; right:6px; font:12px \5b8b\4f53; cursor:pointer}
.msgboxdiv .loadermsg{ background:#3c434b}
.msgboxdiv .loadermsg img{ vertical-align:-1px; margin-left:7px}
/*弹出层*/
.easyDialog_wrapper{ min-width:400px; *width:400px; color:#444; border:3px solid rgba(0,0,0,0); border-radius:5px; box-shadow:0 0 10px rgba(0,0,0,0.4); display:none; font-family:"Microsoft yahei", sans-serif}
@media screen and (max-width:400px){
	.easyDialog_wrapper{ min-width:inherit; width:300px}
}
.easyDialog_wrapper .easyDialog_content{ border-radius:4px; background:#fff; border:1px solid #e5e5e5}
.easyDialog_wrapper .easyDialog_title{ height:30px; line-height:30px; overflow:hidden; color:#666; padding:0 10px; font-size:14px; border-bottom:1px solid #e5e5e5; background:#f7f7f7; border-radius:4px 4px 0 0}
.easyDialog_wrapper .close_btn{ font-family:arial; font-size:18px; _font-size:12px; font-weight:700; color:#999; text-decoration:none; float:right}
.easyDialog_wrapper .close_btn:hover{ color:#333}
.easyDialog_wrapper .easyDialog_text{ padding:10px; font-size:13px}
.easyDialog_wrapper .easyDialog_footer{ padding:0 10px; *zoom:1}
.easyDialog_wrapper .easyDialog_footer:after{ content:''; display:block; height:0; overflow:hidden; visibility:hidden; clear:both}
.easyDialog_wrapper .btn_highlight,.easyDialog_wrapper .btn_normal{ border:1px solid; border-radius:2px; cursor:pointer; font-family:"Microsoft yahei", Arial; float:right; font-size:12px; padding:0 12px; height:24px; line-height:24px; margin-bottom:10px}
.easyDialog_wrapper .btn_highlight{ background:#4787ed; border-color:#3079ed; color:#fff}
.easyDialog_wrapper .btn_normal{ margin-left:10px; border-color:#c3c3c3; background:#ececec; color:#333}

.field{ margin-bottom:5px}
.field .radio{ vertical-align:-2px; margin-right:2px}
/*通用*/
.fl{ float:left}
.fr{ float:right}
.w70{ width:70px}
.w80{ width:80px}
.w100{ width:100px}
.w102{ width:102px}
.w200{width:200px}
.mt_3{ margin-top:3px}
.mr_10{ margin-right:10px}
.mb_10{ margin-bottom:10px}
.ml_10{ margin-left:10px}
.align_center{ text-align:center !important}
.align_left{ text-align:left !important}
.col_888{ color:#888}
.nowrap{ white-space:nowrap}
.hide{display:none !important}




















